body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton {
  padding: 5px 12px;
  float: fixed;
}

.topbar{
  text-align: center;

}
.title{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: Arial;
  position: right;
  font-size: 48px;
}

.dancer{
  position: absolute;
}

.dancer:hover {
  transform: rotate(45deg) translateX(150px);
  transition: all 1s ease-in;
}


.bitMoji{
  width: 300px;
  height: 300px;
}

.styled {
  border: 0;
  line-height: 2;
  /* padding: 0 10px; */
  font-size: 14px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: red;
}

.linebreak {
  padding: 5px 12px;
  border: 0;
  line-height: 2;
  /* padding: 0 10px; */
  font-size: 14px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: blue;
}